.navbar{
    background-color: rgb(75, 77, 88)

}
.navbar .navlink{
    color: rgb(172, 164, 209);
}

.btn {
    padding: 20px 30px;
    font-weight: 900;
    font-size: 10px;
}

.btn-bembang {
    background-color: blue;
    border: 2px solid;
    border-radius: 10px;
    transition: all ease-in 0.5s;
}

.btn-bembang:hover {
    color: antiquewhite;
    border: 2px solid;
}

.xen{
    width: 6%;
}
div .col-lg-12{
    color: aliceblue;
}

#banner {
    background: url('bgg.avif');
    height: 100vh;
    background-size: cover;
}